.search-field{
    width: 150px;
    padding: 3px 10px;
}
h5{
    color: gray;
}
h5:hover{
    color:red;
}

a{
    text-decoration: none;
}
.border{
    border-bottom: 1px dashed #c1c1c1;
}
.container-outside{
    display: block;
    margin: 0px auto;
}
.social{
    margin: 20px 0;
    
}
.spoitelight div.col-sm-3 {
    padding-left:5px !important;
    padding-right:5px !important;
}
.front{
    color: gray;
}
.front1{
    color: black;
    font-size: 15px;
}
.carousel div.carousel-caption {
    position: static;
    background:white;
}
.priority{
    position: absolute;
    z-index: 9999;
}
.top-slider .carousel-inner .item img{
    height: 100%;
}

@media screen and (max-width: 800px){
    .top-slider .carousel-inner .item img{
        height:auto;
        width:100%;
    }
}